body{
    background-color: navy;
    font-family: 'Times New Roman', Times, serif;
    background: url(images/IMG_0565.jpg);
}

#content {
    background-color: navy;
    margin: auto;
    padding: 5px;
    
    
}
#main-div ul{
    text-decoration: none;
    list-style-type: none;
}

h1{
    color: rgb(255, 98, 0) ;
    text-align: center;
}

h2{
    color: orange;
    text-align: center;
}

p{
    color: greenyellow;
    border: solid;
}

#intro{
    color: yellowgreen;
}

a:link{
    color: rgb(109, 128, 0);
  background-color: transparent;
  text-decoration: none;
}

a:visited{
    color: rgb(204, 233, 162);
    background-color: transparent;
    text-decoration: none;
}

a:hover{
    color: orangered;
    background-color: transparent;
    text-decoration: none;
}

.img-block {
    border-radius: 5%;
    margin: auto;
    
}

.asscols{
    background-color: rgb(35, 1, 1)
    
}

.asscols h5{
    color: greenyellow;
}

.img-block img{
    background-color: pink;
    display: flex; 
    margin: auto;
    text-align: center;
}

#assignment {
    text-align: center;
    padding: 1%;
    border: solid;
}

@media only screen and (min-width: 1000px) {
    body{
        background-color: beige;
    }
    
    .img-block ul{
        display: flex;
        
    }



    
}
