body{
    background-color: pink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

td{
    border: 5px solid orange;
    background-color: tan;
    

    
}

th{
    border: 5px dotted green;
    background-color: orange;
}

img {
    border: 5px solid #5b0de1;
   
  }


p{
    color:rgb(226, 141, 43)
}

h1{
    color: darkgoldenrod ;
}
h2{
    color:black darkturquoise;
}

a:link{
    color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited{
    color: violet;
    background-color: transparent;
    text-decoration: none;  
}

a:hover{
    color: red;
    background-color: transparent;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



