/*Structure*/
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightblue;
}

#content{
    width: 100%;
    margin: auto;
}

#main-header{
    /*not styling based on element name*/
    background-color: grey;
    padding: 5px;
    border-radius: 5px;   
}

.flex-container{
    flex: 1;
}

/*images*/

#img-block {
    background:pink;
    width:100%;
}

#img-block img{
    background-color: pink;
    display: block; 
    margin: auto;
    text-align: center;
}

/*Typograpgy*/

#main-header {
    text-align: center;
    border-radius: 5px 5px 0 0;
}

ul {
    list-style: none; /* Remove default bullets */
  }

/*Main Nav*/
#main-nav a{
    text-decoration: none;
    padding: 1px;
    color: whitesmoke;
    margin: 1cm;
}

#main-nav ul{
    list-style-type: none;
}



#main-nav a:hover {/*why is it appearing under the blueviolet as opposed to over it????????????????????????????*/
    border-bottom: 1px solid orange;
    color: navajowhite
}


/*footer*/
#main-foot{
    background-color: grey;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    margin-right: 0%;/*sbouldn't this push it all the way to the right?*/
}
#main-foot{
    text-align: right;
    color: azure;
}
/*Main work*/
#english-work{
    background: pink;
    padding: 5px;
    
}
/*columns*/


.coll1of3{
    background-color: orange;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
}
.big-coll{
    background-color: green;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    flex: 2;/*ratio*/

}
.small-coll{
    background-color: orange;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
    flex: 1;
}

.coll2of2{
    background: green;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

.coll1of2{
    background-color: green;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
/*Column related, always do media query's at the end*/


.hide-small {
    display: none;
}

#hamburger div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}





/*LARGER resolutions: what you have if you're on a non-phone*/
@media only screen and (min-width: 1000px) {
    body{
        background-color: beige;
    }
    #main-nav ul {
        display: flex;
        border-radius: 20%;
        margin: 5px;
    }

    .flex-container {
        display: flex;
        border-radius: 20%;
        margin: 5px;
    

    }

    .collI {
        display: flex;
        flex: 1;
    }


    #main-nav li, .coll1of2, .coll2of2, .coll1of3, .collI1 {
        flex: 1;
    }

    #img-block{
        display: flex;
    }

    
    .hide-small {
        display: block;
    }
    
    #hamburger {
        display: none;
    }
    
    
}