body{
    background-color: blanchedalmond;
}

/*Typograpgy*/

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: aqua;
}

#main-header{
    /*not styling based on element name*/
    background-color: blueviolet;
}

#main-content{
    background-color: greenyellow;
}

#main-footer{
    background-color: palevioletred;
}

.padded-area{
    margin:auto;
   /*padding: 5px; */
}

.info{
    border: 1px solid red;

}

.info header{
    background-color: blanchedalmond;
    margin:auto 0;
}


#main-header nav{/*looks for nav child of main-header*/


}

#main-nav li{
    list-style-type: none;
 /*   display: inline-block;/*horizontals them*/

}

#main-nav ul{
    padding-left: 0px;
}

#main-nav a{
    text-decoration: none;
    /*when you wont to style the text color, you gotta reference the a*/
    color: black;

}

#main-nav a:hover {/*why is it appearing under the blueviolet as opposed to over it????????????????????????????*/
    border-bottom: 1px solid orange;
    font-size: 2em;/*ems grow better*/
}

/*LARGER resolutions: what you have if you're on a non-phone*/
@media only screen and (min-width: 600px) {
    body{
        background-color: red;
       
    }
    #main-nav li {
        display: inline-block;
    }
    .columns{
        display: inline-block;
    }

    .coll1of2{
        flex: 1;
    }
}


