body{
    background-color: blanchedalmond;
}

/*Typograpgy*/

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#main-header{
    /*not styling based on element name*/
    background-color: blueviolet;
}

#main-content{
    background-color: pink;
}

#main-footer{
    background-color: palevioletred;
}

.padded-area{
    margin:auto;
    padding: 5px;
}



#main-header nav{/*looks for nav child of main-header*/


}